
.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-fram {
    -fx-background-color: linear-gradient(to right, rgba(34, 193, 195, 1), rgba(64, 128, 88, 1), rgba(92, 65, 10, 1));
    /* Add any other styles you want for .nav-fram here */
}
.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-color:#9f0c0c;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#18a383;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.card2{
    -fx-background-color:linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius:5px;
}
.card{
    -fx-background-color: linear-gradient(to bottom, #4e54c8, #8f94fb);
    -fx-background-radius:5px;
    -fx-text-fill: white; 
}
.card-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c2c2c; /* Set label text color to a dark shade for readability */
}

.card-value {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffcc00; /* Set value text color to a vibrant color for emphasis */
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to right, rgba(34, 193, 195, 1), rgba(64, 128, 88, 1), rgba(92, 65, 10, 1));
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
   -fx-background-color: linear-gradient(to right, rgba(34, 193, 195, 1), rgba(64, 128, 88, 1), rgba(92, 65, 10, 1));
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.textfield{
	
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color:linear-gradient(to right, rgba(34, 193, 195, 1), rgba(64, 128, 88, 1), rgba(92, 65, 10, 1));
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to right, rgba(34, 193, 195, 1), rgba(64, 128, 88, 1), rgba(92, 65, 10, 1));
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:2px;
}

.import-btn{
    -fx-background-color:#ddd;
    -fx-text-fill:red;
    -fx-cursor:hand;
}

.add-btn{
     -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(20, 20, 54, 1) 44%, rgba(29, 139, 162, 1) 100%);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.add-btn:hover{
    -fx-background-color:#3357a4;
}

.update-btn{
   -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(20, 20, 54, 1) 44%, rgba(162, 29, 29, 1) 100%);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.update-btn:hover{
    -fx-background-color:#309a65;
}

.delete-btn{
 -fx-background-color: linear-gradient(to right, rgba(144, 13, 13, 1), rgba(54, 38, 20, 1) 44%, rgba(195, 190, 47, 1) 100%);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.delete-btn:hover{
    -fx-background-color:#ae1d46;
}

.clear-btn{
    -fx-background-color: linear-gradient(to right, rgba(144, 134, 13, 1), rgba(54, 43, 20, 1) 44%, rgba(146, 142, 27, 1) 100%);
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.clear-btn:hover{
    -fx-background-color:#9d3485;
}

.label-info{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 8px;
}