.body {
 
  background: linear-gradient(toleft, #FF5F6D, #FFC371);
 
}



.left-form{
    -fx-background-color:linear-gradient(to bottom right, #0b61b1, #4c8648);
    -fx-border-color:#000;
    -fx-border-width:0.4px 0.0px 0.4px 0.4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:0.4px 0.4px 0.4px 0.0px;
}
.textcolor{
	-fx--fx-background-color:#ffffff
}
.close{
	 -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4.0px;
    -fx-border-color:#000;
    -fx-border-width:0.4px;
    -fx-border-radius:4.0px;
    -fx-font-size:13.0px;
    -fx-font-family:"Arial";
    
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:0.8px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #0b61b1,#4c8648);
    -fx-background-radius:5.0px;
    -fx-text-fill:#fff;
    -fx-font-size:14.0px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #21a7ae,#368981);
}